<div class="animated fadeIn">
  <mat-card>
    <div class="row">
      <div class="col-sm-11"><h5>Ingresos</h5></div>
      <div class="col-sm-1">
        <button class="btn btn-sm btn-success float-right" (click)="nuevoRegistro()" [routerLink]="['../edit', {id:0}]" title="Nuevo Ingreso">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>            
    <hr>    
        <p>Lista de productos ingresados el: </p>
        <mat-form-field class="w-30">
          <input matInput type="date" placeholder="Fecha de ingreso" (change)="getDate(txtDate.value)" #txtDate>
        </mat-form-field>      
    <hr>
    <div class="float-right">
      <button class="xbtn" mat-stroked-button (click)="printPdf()">
        <img src="../assets/images/_codebar.png" alt=""> Codigo de barras
      </button>
    </div>
    <br><br>
                  
          <div class="mat-elevation-z8">
          <table mat-table [dataSource]="listProductoDetalle" class="w-100">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (click)="selectCheckAll()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row; let i=index">
                <mat-checkbox  
                    (click)="$event.stopPropagation()" 
                    (change)="selectCheck(i)"
                    [checked]="row.checked || false">
                </mat-checkbox>
              </td>
            </ng-container>
            
            <ng-container >
              <!-- Position Column -->
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="Producto">
                <th mat-header-cell *matHeaderCellDef> Producto </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.descripcion}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Marca">
                <th mat-header-cell *matHeaderCellDef> Marca </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.marca.descripcion}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="Categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.producto.categoria.descripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="Talla">
                <th mat-header-cell *matHeaderCellDef> Talla </th>
                <td mat-cell *matCellDef="let element"> {{element.talla.descripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="Color">
                <th mat-header-cell *matHeaderCellDef> Color </th>
                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
              </ng-container>
            </table>
            
            <mat-paginator #paginadorHost
                [length]="totalRecords"
                [pageSize]="rows"                        
                (page)="page($event)">
            </mat-paginator>
              </div>
      
  </mat-card>  
  <br>
  <br>
</div>

<br>
<!--impresoara etiquetera 62mm-->
<div class="xContentCodeBar" id="xContentCodeBar" hidden>
  <div *ngFor="let element of listProductoDetalle">

      <div *ngIf="element.checked" class="item">
        <div *ngFor="let index of arrayOne(element.stock_inicial)">          
            <p style="font-size:12px;">{{element.producto.marca.descripcion}}</p>
            <p class="CodBarra" id="CodBarra">*{{element.codigobarra}}*</p>
            <p style="font-size:10px;">{{element.producto.descripcion}} | {{element.talla.descripcion}} | {{element.color}}</p>        
            <p style="font-size:14px;">{{element.producto.precio1}}</p>    
         </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="!showLista" class="animated fadeIn">
    <app-producto-edit></app-producto-edit>
</div> -->