.cabecera-sidenav {    
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;    
    padding: 0px 25px;    
    background: rgba(0, 0, 0, 0.24);
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
  }

  .cabecera-sidenav span{    
    display: inline;
    box-sizing: border-box;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.808);
    font-weight: 300;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    padding: 10px 0px;
    text-decoration: none;
    overflow: hidden;
  }

  
  a,
  a:hover,
  a:focus {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
  }
  
  .navbar {
      padding: 15px 10px;
      background: #fff;
      border: none;
      border-radius: 0;
      margin-bottom: 40px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      
      width: 100%;
  }
  
  .navbar-btn {
      box-shadow: none;
      outline: none !important;
      border: none;
  }
  
  .line {
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #ddd;
      margin: 40px 0;
  }
  
  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  
  #sidebar {
      position: relative;
      top: 0;
      left: 0;
      z-index: 999;
      color: #bdbdbd;
      transition: all 0.3s;
  }
  
  #sidebar .sidebar-header {
      padding: 10px;      
      font-weight: 100;
      text-decoration: none;
      line-height: 5px;
  }

  #sidebar .mat-nav-list {
      height: auto;
  }

  /* #sidebar .mat-nav-list p {
      color: #e0e0e0;
      padding: 10px;
  } */
  
  #sidebar .mat-nav-list .item .mat-list-item a {
      padding: 12px;
      padding-left: 10px;
      font-size: 1.0em;
      display: block;
      color: #e0e0e0;
  }

  #sidebar .mat-nav-list .item .mat-list-item a i {
      text-align: right;
      /* width: 45px; */
      padding-right: 15px;
  }
  
  #sidebar .mat-nav-list .item .mat-list-item:hover {      
    background: rgba(0, 0, 0, 0.418);
    color: #fff;
  }
 
  
  #sidebar .mat-nav-list .item .mat-list-item.active>{        
    background: rgba(0, 0, 0, 0.24);
    color: #eeeeee;
  }
  
  a[data-toggle="collapse"] {
      position: fixed;
  }
  
  .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: -130px;
      transform: translateY(-50%);
  }
  
  .item{
      border-bottom: 1px #3f3f3f solid; 
  }

  .item .mat-list{
    padding: 0;
    background: rgba(0, 0, 0, 0.24);    
  }

  .item .mat-list .mat-list-item {
    border-bottom: 1px #2b2b2b solid; 
  }

  .item .mat-list .mat-list-item a {
      font-size: 0.8em !important;
      padding-left: 50px !important;  
      color: #e0e0e0;    
  }
