<form class="example-form">
    <mat-form-field class="w-100">
      <input matInput placeholder="Buscar Cliente" aria-label="State" [matAutocomplete]="auto" [formControl]="_formControlName" (focus)="_focus($event)">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="_displayWith">
          <div *ngFor="let item of listProveedorCliente">
          
              <mat-option [value]="item" (onSelectionChange)="_onSelectionChange($event,item)">
                  <div>
                    <p class="titulo">{{item?.nombres}} ({{item.dni}})</p>
                    <span class="subtitulo">Direccion: {{item?.direccion}} | Telefono: {{item?.telefono}} </span>
                  </div>
              </mat-option> 
          
          <!-- <ng-container *ngIf="agruparPorDireccion; then agruparDireccion; else agruparProveedor"></ng-container>
          <ng-template #agruparDireccion>
            
              <ng-container *ngIf="item.proveedorclientedireccions; then tieneDireccion; else noTieneDireccion"></ng-container>
              <ng-template #tieneDireccion>
                  <mat-option *ngFor="let direccion of item.proveedorclientedireccions" [value]="item" (onSelectionChange)="_onSelectionChange($event,item,direccion)">
                      <div>
                        <p class="titulo">{{item?.razonsocial}} ({{item.nrodocumento}})</p>
                        <span class="subtitulo">Direccion: {{ direccion.direccion | lowercase}} </span>
                      </div>
                  </mat-option>
              </ng-template>
              <ng-template #noTieneDireccion>
                  <mat-option [value]="item" (onSelectionChange)="_onSelectionChange($event,item)">
                      <div>
                        <p class="titulo">{{item?.razonsocial}} ({{item.nrodocumento}})</p>
                        <span class="subtitulo">Direccion: 'No asignado' </span>
                      </div>
                  </mat-option> 
              </ng-template>

          </ng-template>

          <ng-template #agruparProveedor>
            
              <mat-option [value]="item" (onSelectionChange)="_onSelectionChange($event,item)">
                  <div>
                    <p class="titulo">{{item?.razonsocial}} ({{item.nrodocumento}})</p>
                    <span class="subtitulo">Telefono: {{item?.telefono}} | Representante: {{item?.representante | lowercase}}  </span>
                  </div>
              </mat-option> 
            
          </ng-template>           -->
                                               
        </div>
        <div class="autocomplete-footer" [hidden]="!verFooter">                              
                <!-- <span class="float-left p-2 d-inline">{{totalRecords}} Registros</span> -->
                <!-- <div class="h-1"> -->
                    <mat-paginator #paginadorHost

                        [length]="totalRecords"
                        [pageSize]="rows"                        
                        (page)="page($event)">
                    </mat-paginator>

                    <!-- <p-paginator [rows]="5" [totalRecords]="totalRecords" (onPageChange)="paginate($event)"></p-paginator>                     -->
                <!-- </div> -->
        </div>

        </mat-autocomplete>            
        <mat-icon matSuffix><i class="fa fa-user" aria-hidden="true"></i></mat-icon>      
    </mat-form-field>
  </form>