<div class="animated fadeIn m-contenedor">
  <mat-card>
    <h5>Cliente</h5>
    <hr>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          
          <mat-form-field class="w-100">
            <input autofocus matInput placeholder="Nombres" formControlName="nombres" appUpperCase appKeyTab>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="DNI" formControlName="dni" appUpperCase appKeyTab>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput placeholder="Direccion" formControlName="direccion" appUpperCase appKeyTab>
          </mat-form-field>

        </div>
        <div class="col-md-6">

          <mat-form-field class="w-100">
            <input matInput placeholder="Telefono" formControlName="telefono" appUpperCase appKeyTab>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput type="date" placeholder="Fecha Nacimiento" formControlName="fechanac" appKeyTab>
          </mat-form-field>

        </div>        
      </div>

      <hr>

      <div class="row">
          <div class="col-md-6">

            <mat-form-field class="w-100">
              <input matInput type="number" placeholder="Linea de credito asignada" formControlName="linea_credito" appKeyTab>
            </mat-form-field>

          </div>
          <div class="col-md-6">

            <mat-form-field class="w-100">
              <input matInput type="number" placeholder="Linea de credito utilizada" formControlName="linea_credito_utilizada" appKeyTab>
            </mat-form-field>

          </div>
        </div>
    </form>

    <hr>

    <div>
      <button mat-button class="bg-detalles mr-2" (click)="verPanelProducto();">Cancelar</button>
      <button appKeyClick="F10" mat-raised-button class="xbtn btn-success" [disabled]="!form.valid" (click)="save()">
        <span class="pl-2"> <span class="subtitleBtn">F10 </span>| Finalizar Venta</span>
      </button>
    </div>
  </mat-card>
</div>