<div class="animated fadeIn m-contenedor">

  <p>
    dashboard works!
  </p>
  <button mat-button color="accent" >Borrar</button>
  <button mat-button >Cancelar</button>

  <app-comp-btn-success (click)="aaa()" class="ml-5" _text="| Procesar" _textKey="F8"></app-comp-btn-success>

  <app-comp-find-categoria></app-comp-find-categoria>
  <app-comp-find-sede></app-comp-find-sede>
  <app-comp-find-talla></app-comp-find-talla>
  <app-comp-find-tipo-pago></app-comp-find-tipo-pago>
  <app-comp-find-almacen></app-comp-find-almacen>
  <app-comp-find-marca></app-comp-find-marca>
  <app-comp-find-cliente-list></app-comp-find-cliente-list>
</div>
