/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cursor{ cursor: pointer; }
.m-contenedor {
    font-size: 12px;
    line-height: 2;
  }

.m-contenedor .card{
    padding: 0;
    margin: 0;
    margin-top: 8px;        
}
  
.m-contenedor .mat-form-field-label-wrapper {
  font-size: 14px;
}


.mat-card hr{
    margin-left: -25px;
    margin-right: -25px;
}

.xbtn:focus {
  outline: none;
}

.subtitleBtn {    
    font-weight: 500;
    color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
    .mat-card hr{
        margin-left: -16px;
        margin-right: -16px;
    }
}

/* personalizacion del card */
/* .mat-card { padding: 0px !important;}
.mat-card-header {
    border-bottom: 1px solid #e0e0e0;    
    padding: 25px 15px 0px 15px;    
} 
.mat-card-content {
    padding: 25px;
} */
/* personalizacion del card */

.bg-detalles {
    padding: 20px;    
    background-color: rgb(236, 236, 236)
}

.animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


